.container {
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    

    border: 1px #f7f381;
    background-color: blue;
    box-shadow: 0 0 10px 2px #333333;
    color: green;
    
    
}
ol { margin: 12px; }

p{
    text-align: center;
}